<div class="container">
  <div class="row columns">
    <div id="iface">

      <input type="text" id="message" placeholder="Your chat message here.." [(ngModel)]="msg" #message>
      <input type="submit" class="submit" value="Send now" (click)="send(message.value)">

      <ul>
        <li *ngFor="let item of myArr | async">
          <p>{{ item.title }}</p>
        </li>
      </ul>

      <p>Hi</p>
      <div class="details-container" *ngFor="let item of msgList">
        <div class="row">
          <div class="medium-9 columns">
            <p>{{ item.message }}</p>
          </div>
          <div class="medium-3 columns">
            <button>delete</button>
            <button>edit</button>
          </div>
        </div>
      </div>
      
      

    </div>
  </div>
</div>